[zfs-kmod]
name=ZFS on Linux for EL{{ ansible_distribution_major_version }} - kmod
baseurl=http://download.zfsonlinux.org/epel/{{ ansible_distribution_version }}/kmod/$basearch/
enabled=1
metadata_expire=7d
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
