{% for item in container_host_services %}
{% if item.host_url is defined %}
# container: {{ item.name }}
{{ item.host_url }} {
    reverse_proxy 127.0.0.1:{{ item.host_port }}
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    log {
        format console
    }
{% if item.extra_caddy is defined %}
    {{ item.extra_caddy | indent(4) }}
{% endif %}
}

{% endif %}
{% endfor %}
