#!/bin/bash

## Update script for container {{ item.name }}
## Requires sudo access

echo "Requesting sudo access..."
sudo -v

echo "Pulling container image..."
sudo su -l podman -c "/usr/bin/podman pull {{ item.image }}"

echo "Restarting container..."
sudo su -l podman -c 'XDG_RUNTIME_DIR=/run/user/$(id -u) /usr/bin/systemctl --user restart container-{{ item.name }}.service'

echo "Done!"
