[Unit]
Description=Podman container for {{ item.name }}

[Service]
Restart=on-failure
RestartSec=1
PIDFile=/%t/%n/pid
KillMode=none
Type=forking

ExecStartPre=-/usr/bin/podman rm -f --cidfile /%t/%n/cid
ExecStartPre=-/bin/rm -rf /%t/%n
ExecStartPre=/bin/mkdir /%t/%n
ExecStart=/usr/bin/podman run -d --conmon-pidfile /%t/%n/pid --cidfile /%t/%n/cid --log-driver journald --log-opt tag="container/{{ item.name }}" {% if item.host_port is defined %} -p {{ item.host_port }}:{{ item.container_port }} {% endif %} --env-file /var/containers/{{ item.name }}.env --add-host container-host:{{ ansible_default_ipv4.address }} --name {{ item.name }} {{ item.extra_args | default("") }} {{ item.image }} {{ item.command | default("") }}
ExecStop=/usr/bin/podman stop --cidfile /%t/%n/cid
ExecStopPost=/usr/bin/podman rm -f --cidfile /%t/%n/cid

[Install]
WantedBy=default.target
