#!/bin/bash
export RESTIC_PASSWORD={{ lookup('password', 'credentials/{{ inventory_hostname }}/restic length=32 chars=ascii_letters') }}
export RESTIC_REPOSITORY=b2:{{ backup_b2_bucket }}
export B2_ACCOUNT_ID={{ backup_b2_account_id }}
export B2_ACCOUNT_KEY={{ backup_b2_account_key }}
export RESTIC_CACHE_DIR={{ backup_restic_cache_path }}
